<div class="pagination">
  <button class="previous-page" [disabled]="currentPage === 1" (click)="setPage(currentPage - 1)">
    Previous
  </button>
  <ng-container *ngIf="pagesArray.length <= 10">
    <button *ngFor="let page of pagesArray; let index = index" class="page-number" [ngClass]="{'current-page': currentPage === index + 1}" (click)="setPage(index + 1)">
      {{ index + 1 }}
    </button>
  </ng-container>
  <ng-container *ngIf="pagesArray.length > 10">
    <select (ngModelChange)="setPage($event.target.value)">
      <option *ngFor="let p of pagesArray; let index = index" [value]="(index + 1)">
        {{ index + 1 }}
      </option>
    </select>
  </ng-container>
  <button class="next-page" [disabled]="currentPage === pagesArray.length" (click)="setPage(currentPage + 1)">
    Next
  </button>
</div>